.dynamic-image-display {
  width: 100%;
  margin-top: 6%;
  position: relative; /* Add position relative for modal positioning */
}

.dynamic-image-item img {
  width: 100%;
  height: 200px; /* Ensure images maintain aspect ratio */
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.9s ease-in-out;
  cursor: pointer; /* Add cursor pointer for clickable images */
}

.dynamic-image-item img:hover {
  transform: scale(1.5);
}

@media (max-width: 1123px) {
  .dynamic-image-display {
    margin-top: 15%; /* Custom margin for smaller screens */
  }
  
  .dynamic-image-item img {
    width: auto;
    height: auto; /* Ensure images maintain aspect ratio */
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: none;
    cursor: pointer; /* Add cursor pointer for clickable images */
  }
  
  .dynamic-image-item img:hover {
    transform: none;
  }
}

.dynamic-image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.dynamic-image-item {
  position: relative;
  overflow: hidden;
}

.dynamic-image-details {
  margin-top: 8px;
}

.caption {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Style for active dot */
.active {
  background-color: #717171;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Style for disabled Out of Stock Button */
.out-of-stock-button {
  background-color: #ddd;
  color: #888;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
}
.add-to-cart-button:hover {
  background-color: #0056b3;
}

.dynamic-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation when user clicks on an image */
.dynamic-modal-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Add transition for smooth scale effect */
}

/* Scale up when modal image is clicked */
.dynamic-modal-image:active {
  transform: scale(1.1);
}
.modal-btns-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev-btn,
.next-btn {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.details {
  font-size: 14px;
  color: #555;
}