.edit-modal {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-modal h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between; /* Align buttons to opposite ends */
  }
  
  .btn-save,
  .btn-close {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-save {
    background-color: #86aad1;
    color: #fff;
    border: none;
  }
  
  .btn-close {
    background-color: #ccc;
    color: #000;
    border: none;
  }
  
  .btn-save:hover {
    background-color: #0a0624;
  }
  
  .btn-close:hover {
    background-color: #999;
  }
  