/* Footer.css */
.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a39384; /* Warm, classy color */
  padding: 20px;
  border-top: 1px solid #e0e0e0; /* Add a subtle border at the top */
}

.contact-info {
  font-size: 18px; /* Reduce font size for better readability */
  display: flex;
  align-items: center;
  color: #333; /* Darker text color */
}

.social-media {
  display: flex;
  align-items: center;
}

.instagram-icon,
.phone-icon,
.whatsapp-icon {
  margin-right: 10px; /* Increase spacing between icons */
}

.instagram-icon,
.whatsapp-icon {
  font-size: 24px; /* Increase the font size for the Instagram and WhatsApp icons */
  cursor: pointer; /* Change cursor to pointer when hovering over WhatsApp icon */
}

.phone-container {
  display: flex;
  flex-direction: column; /* Display items in a column layout */
  align-items: center;
}

.phone-icon {
  margin-bottom: 5px; /* Add spacing between phone icon and number */
}

.phone-number {
  font-size: 16px; /* Increase font size for better readability */
  margin-bottom: 0; /* Remove default margin */
  color: #333; /* Darker text color */
}

.contact-text {
  margin-left: 15px; /* Adjust margin for better spacing */
}
.copyright {
  margin-left: 45%;
  justify-content: center; /* Align horizontally in the center */
  font-size: 10px;
  color: #555; /* Dark gray color */
  margin-top: 10px; /* Add some spacing between social media icons and copyright notice */
}
/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Display items in a column layout */
    padding: 20px; /* Increase padding for better spacing */
  }

  .contact-info {
    font-size: 16px; /* Reduce font size for better readability */
    margin-bottom: 15px; /* Add spacing between contact info and social media icons */
  }

  .social-media {
    margin-top: 15px; /* Add spacing above social media icons */
  }

  .instagram-icon,
  .whatsapp-icon {
    font-size: 20px; /* Reduce font size for better consistency */
  }

  .phone-container {
    align-items: center; /* Center items horizontally */
  }

  .phone-icon {
    margin-bottom: 5px; /* Add spacing between phone icon and number */
  }

  .phone-number {
    font-size: 14px; /* Reduce font size for better readability */
  }

  .contact-text {
    margin: 0; /* Remove margins */
    text-align: center; /* Center align the text */
  }
  .copyright {
    margin-left: 32%;
    justify-content: center; /* Align horizontally in the center */
    font-size: 10px;
    color: #555; /* Dark gray color */
    margin-top: 10px; /* Add some spacing between social media icons and copyright notice */
  }
}
