.uploaded-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  gap: 20px;
}

.uploaded-image-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
}

.uploaded-image-item img {
  width: 200px;
  height: 200px;
  display: block;
}

.uploaded-image-item p {
  position: bottom;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0;
}

.uploaded-image-button-container {
  position: top;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.uploaded-image-button-container button {
  position: top;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.edit-button {
  background-color: rgba(0, 0, 255, 0.7); /* Blue color for edit button */
  border: none;
}

.delete-button {
  background-color: rgba(255, 0, 0, 0.7); /* Red color for delete button */
  border: none;
}

.edit-button:hover {
  background-color: rgba(0, 0, 255, 1); /* Darker blue color on hover */
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 1); /* Darker red color on hover */
}


.pagination-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}