body, html {
    margin: 0; /* Remove default margin on body and html elements */
    padding: 0;
  }
  
  .wallpaper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  .wallpaper-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .content-container {
    width: 100%;
    box-sizing: border-box;
  }
  /* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .wallpaper-container {
    padding-top: 0; /* Remove top padding on smaller screens */
  }

  .wallpaper-image {
    border-radius: 0; /* Remove border radius for full-width images */
  }

  .content-container {
    padding: 20px; /* Add padding for better spacing */
  }
}
